<!--The content below is only a placeholder and can be replaced.-->

<app-menu title="mon app" theme="dark" >

</app-menu>
<div style="text-align:center" class="container">


    <h1>
      Welcome to {{ title }}!
    </h1>
  
  <app-pizza [selectedPizza]="selectedPizza">

  </app-pizza>

  <div class="pizzas row">

      
 
      <div class="col-lg-3"  *ngFor="let pizza of pizzas" (click)="onSelect(pizza)"> 
          <div class="card">
              <img class="card-img-top" [src]="'assets/images/'+pizza.image" >

            <div class="card-body">
              <h2 class="card-title">{{pizza.name}}</h2>
              <p>prix : {{pizza.price}} &euro;</p>
              
              <a href="#" class="btn btn-primary">ajouter</a>
            </div>
          </div>
            
        
      </div>
      

</div>
</div>

